.datatable .col {
    cursor: pointer;
    background-color:rgb(245, 81, 6);
    color: rgb(255, 255, 255);
}

.datatable .col .pointer:after {
    font-size: 80%;
    content: "";
    margin-right: 18px;
}

.datatable .col .pointer:hover:after {
    font-size: 80%;
    content: "🔻";
    margin-right: 0;
}